<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>Free</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" type="text/css" media="screen"
    href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/core/main.min.css" />
  <link rel="stylesheet" type="text/css" media="screen"
    href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/daygrid/main.min.css" />
  <link rel="stylesheet" type="text/css" media="screen"
    href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/timegrid/main.min.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css" />
  <style>
    .fc-today {
      background-color: inherit !important;
    }

    .fc-time-grid .fc-slats td {
      height: 4em;
      border-bottom: 0;
    }

    textarea {
      min-height: 100px;
      max-height: 200px;
      max-width: 100%;
      min-width: 100%;
      width: 100%;
    }

    #course-list {
      margin-top: 1em;
      height: 400px;
      overflow: auto;
    }
  </style>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/core/main.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/daygrid/main.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/timegrid/main.min.js"></script>
</head>

<body>
  <div id="app">
    <section class="hero is-dark">
      <div class="hero-body">
        <div class="container">
          <h1 class="title">Free</h1>
          <h2 class="subtitle">Spring 2020</h2>
        </div>
      </div>
    </section>
    <section class="section">
      <div class="container">
        <div class="columns" style="display: relative;">
          <div class="column is-2">
            <div class="box" style="position: sticky; top: 30px;">
              <h2 class="subtitle">Courses</h2>
              <form @submit.prevent="addCRNS">
                <input type="text" name="add-crn" id="add-crn" class="input" placeholder="Add CRNs"
                  v-model.trim="newCRN" minlength="6" required />
              </form>
              <ul id="course-list">
                <li v-if="crns.length === 0" class="has-text-grey">
                  Add CRNs...
                </li>

                <li v-for="(crn, index) in crns">
                  {{ crn }}
                  <span class="delete is-pulled-right" @click="crns.splice(index, 1)"></span>
                </li>
              </ul>
            </div>
          </div>
          <div class="column">
            <button class="button is-medium is-dark is-pulled-right" :class="{'is-loading': changed}"
              title="Click to update" @click="update">
              Updated
            </button>
            <h1 class="title">Showing {{ crns.length }} course sections</h1>
            <div ref="calendar" id="calendar"></div>
          </div>
        </div>
      </div>
    </section>
    <footer class="footer">
      <p class="has-text-centered">
        Frank Matranga '22 |
        <a href="https://github.com/Apexal/free" target="_blank" rel="noopener noreferrer">GitHub</a>
      </p>
    </footer>
  </div>

  <script src="/static/main.js"></script>
</body>

</html>