<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Free</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/core/main.min.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/daygrid/main.min.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/timegrid/main.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css"
    />
    <style>
      .fc-today {
        background-color: inherit !important;
      }
    </style>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/core/main.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/daygrid/main.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/timegrid/main.min.js"></script>
    <script>
      document.addEventListener("DOMContentLoaded", async function() {
        // const crns = prompt("crns")
        let crns = [];

        const calendarEl = document.getElementById("calendar");
        const calendar = new FullCalendar.Calendar(calendarEl, {
          plugins: ["dayGrid", "timeGrid"],
          defaultView: "timeGridWeek",
          events: async function() {
            const response = await fetch("/events?crns=" + crns.join(","));
            const events = await response.json();
            document.getElementById("course-list").innerHTML = events
              .map(event => `<li>${event.title}</li>`)
              .join("\n");
            return events;
          },
          header: {
            left: "",
            center: "",
            right: ""
          },
          columnHeaderFormat: {
            weekday: "long"
          },
          allDaySlot: false,
          minTime: "08:00:00",
          maxTime: "20:00:00",
          height: "100%"
        });

        calendar.render();

        document
          .getElementById("crn-form")
          .addEventListener("submit", function(event) {
            event.preventDefault();

            const newCrns = document
              .getElementById("crns")
              .value.trim()
              .replace(/,/g, " ")
              .replace(/\n/g, " ")
              .split(" ")
              .filter(val => !!val)
              .map(val => val.trim());

            if (!newCrns) return;
            crns = newCrns;
            console.log(crns);
            calendar.refetchEvents();
          });
      });
    </script>
  </head>
  <body>
    <section class="hero is-dark">
      <div class="hero-body">
        <div class="container">
          <h1 class="title">Free</h1>
          <h2 class="subtitle">Determine the best time for RPI meetings.</h2>
        </div>
      </div>
    </section>
    <section class="section">
      <div class="container">
        <form id="crn-form">
          <label class="label" for="crns">CRNs</label>
          <div class="field has-addons">
            <div class="control is-expanded">
              <textarea
                class="input"
                type="text"
                id="crns"
                placeholder="94997,95738,95191,..."
                required
              ></textarea>
            </div>
            <div class="control">
              <button class="button" type="submit" id="display">Display</button>
            </div>
          </div>
        </form>
        <hr />
        <div class="columns">
          <div class="column is-2">
            <div class="box">
              <h2 class="subtitle">Courses</h2>
              <ul id="course-list">
                <li class="has-text-grey">Add CRNs...</li>
              </ul>
            </div>
          </div>
          <div class="column">
            <div id="calendar"></div>
          </div>
        </div>
      </div>
    </section>
    <footer class="footer">
      <p class="has-text-centered">
        Frank Matranga '22 |
        <a
          href="https://github.com/Apexal/free"
          target="_blank"
          rel="noopener noreferrer"
          >GitHub</a
        >
      </p>
    </footer>
  </body>
</html>
